/* #ABOUT */

.about .article-title { margin-bottom: 15px; }

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.about-text p { 
  margin-bottom: 15px; 
  background: rgba(0, 0, 0, 0.336);
  backdrop-filter: blur(10px);
  padding: 10px;
}

.about-project {
  background: rgba(0, 0, 0, 0.514);
  padding: 10px;
  border-radius: 10px;
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
  margin-bottom: 25px;
}
