/* #NAVBAR */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  color: var(--light-gray);
  font-size: var(--fs-8);
  padding: 20px 7px;
  transition: color var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus { color: var(--light-gray-70); }

.navbar-link.active { color: #FF0000; }

.nav-wrap {
  border-radius: 12px 12px 12px 12px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.336);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  box-shadow: var(--shadow-2);
}
