/* #RESUME */

.article-title { margin-bottom: 30px; }


/**
 * education and experience 
 */

.title-wrapper h3 { 
  background-color: rgba(0, 0, 0, 0.274);
  padding: 5px;
  border-radius: 5px;
}

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}

.timeline-item { 
  position: relative; 
  background: rgba(0, 0, 0, 0.336);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
}

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  color: #FF0000;
  font-size: var(--fs-6);
  line-height: 1.3;
  margin-bottom: 7px;
  transition: transform 0.3s ease-in-out;
}

.timeline-item-title:hover {
  transform: scale(1.09) translateX(25px);
}

.timeline-list span {
  color: var(--light-gray);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--jet);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 25px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: #FF0000;
  border-radius: 0%;
  box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.list-style {
  color: var(--light-gray);
  list-style: disc;
  padding-top: 5px;
  margin-left: 15px;
}

.download-div {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: flex-end;
}

.download-btn {
  font-weight: bolder;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  color: var(--light-gray);
  background-color: #ff000088;
  padding: 1em;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.download-btn:hover {
  transform: scale(1.05); 
  background-color: #FF0000;
}
