/**
 * #languages 
 */

.lang-text {
  color: var(--light-gray);
  background: rgba(0, 0, 0, 0.336);
  padding: 10px;
}

.languages-title {
  margin-bottom: 20px;
}

.slider-wrap {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.slider-lang {
  width: 100%;
  max-height: 175px;
  position: relative;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-mask: linear-gadient (
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent)
}

.slider-title1 {
  z-index: 2;
}

.slider-title1 p {
  color: var(--white-2);
  border-radius: 5px;
  z-index: 2;
  font-size: clamp(12px, 13px, 15px);
  font-weight: bold;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.5);
}

.slider-lang::-webkit-scrollbar {
  width: 15px;
  border: 5px solid var(--smoky-black);
  background: #ff00007e;
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
              inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

.slider-lang::-webkit-scrollbar-track {
  background: var(--smoky-black);
}

.slider-lang::-webkit-scrollbar-thumb {
  border: 5px solid var(--smoky-black);
  background: #ff00007e;
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
              inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

.slider-lang::-webkit-scrollbar-button {
  height: 100%;
}

.slider-lang:hover .languages-items-wrap {
  animation-play-state: paused;
}

.languages-items-wrap {
  height: 200px;
  display: flex;
  gap: 10px;
  animation: slideshow 65s linear infinite;
}

.languages-items-wrap img {
  padding: 20px;
  background: rgba(0, 0, 0, 0.336);
  transition: var(--transition-1);
  max-height:100px;
  min-width: 100px;
  border-radius: 10px;
}

.languages-items-wrap p {
  padding: 5px;
  margin-top: 2px;
  background: rgba(0, 0, 0, 0.336);
  color: white;
  border-radius: 10px;
}

.slider-others {
  width: 100%;
  max-height: 175px;
  position: relative;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-mask: linear-gadient (
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent)
}

.slider-title2 {
  z-index: 2;
}

.slider-title2 p {
  color: var(--white-2);
  border-radius: 5px;
  text-wrap: nowrap;
  z-index: 2;
  font-size: clamp(12px, 13px, 15px);
  font-weight: bold;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.5);
}


.slider-others::-webkit-scrollbar {
  width: 15px;
  border: 5px solid var(--smoky-black);
  background: #ff00007e;
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
              inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

.slider-others::-webkit-scrollbar-track {
  background: var(--smoky-black);
}

.slider-others::-webkit-scrollbar-thumb {
  border: 5px solid var(--smoky-black);
  background: #ff00007e;
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
              inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

.slider-others::-webkit-scrollbar-button {
  height: 100%;
}

.slider-others:hover .others-items-wrap {
  animation-play-state: paused;
}

.others-items-wrap {
  height: 135px;
  display: flex;
  gap: 10px;
  animation: slideshow 35s linear infinite;
}

.others-items-wrap img {
  padding: 20px;
  background: rgba(0, 0, 0, 0.336);
  transition: var(--transition-1);
  max-height:100px;
  min-width: 100px;
  border-radius: 10px;
}

.others-items-wrap p {
  padding: 5px;
  margin-top: 2px;
  background: rgba(0, 0, 0, 0.336);
  color: white;
  border-radius: 10px;
}

/**
 * skills 
 */

.skills-title { margin-left: 10px; }

.skills-list { padding: 20px; }


.skills-item:not(:last-child) { margin-bottom: 15px; }

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .title-wrapper data {
  color: var(--light-gray);
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
}

.skill-progress-bg {
  background: var(--jet);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: #FF0000;
  height: 100%;
  border-radius: inherit;
}

.skills-wrap {
  margin-left: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-list,
.skills-show {
  width: 48%;
}

.show-list {
  display: none;
  position: relative;
  color: var(--light-gray);
  font-size: 20px;
  font-weight: bolder;
} 
