/* #RESPONSIVE */

@media (max-width: 1365px) {
    .nav-wrap {
      background: var(--bg-gradient-color);
    }

    .success-div {
      padding: 40px;
      max-width: 90%;
    }
  }

@media (max-width: 1024px) {
  .slider-lang::-webkit-scrollbar {
    display: none;
  }

  .slider-others::-webkit-scrollbar {
    display: none;
  }

  .nav-wrap {
    background: var(--bg-gradient-color);
  }

  .success-div {
    padding: 40px;
    max-width: 90%;
  }

  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }
}

@media (max-width: 768px) {
  
  .service-list {
    grid-template-columns: 1fr;
  }

  .container {
    width: 150px;
    height: 150px;
  }

  .box {
    width: 150px;
    height: 150px;
  }

  .avatar-box {
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background-image: url('/assets/images/my-avatar.png');
    background-position: center center;
    animation: spin 12s ease-in-out infinite alternate-reverse;
    opacity: 1;
    z-index: 2;
    scale: 0.8;
  }
  
  .select-list {
    background: var(--bg-gradient-color);
    border-radius: 10px;
    padding-bottom: 5px;
    margin-left: -10px;
  }

  .select-item {
    background: var(--bg-gradient-color);
    border-radius: 10px;
    padding-bottom: 5px;
  }

  .select-item:active{
    background-color: #ff000080;
    border-radius: 10px;
    padding-bottom: 5px;
  }
  
  .skills-list,
  .skills-show {
    width: 100%;
  }

  .skills-list {
    margin-bottom: 2em ;
  }

  .success-container {
    padding-top: 80px;
    color: var(--white-2);
  }
  
  .success-div {
    padding: 40px;
    max-width: 90%;
  }
  
  .success-msg p {
    font-size: 35px;
  }
  
}

@media (max-width: 580px) {
  .timeline-item:not(:last-child)::before {
    display: none;
  }
  
  .timeline-item::after {
    display: none;
  }

  .timeline-list {
    font-size: var(--fs-6);
    margin-left: 0px;
  }

  .list-style {
    padding-top: 5px;
    margin-left: 15px;
  }
  
  .skills-wrap {
    margin-left: 0px;
  }
  
  .testimonial-name-wrap h4 {
    margin-top: 5px;
  }

  .testimonial-name-wrap a {
    margin-top: 35px;
  }

  .success-msg p {
    font-size: 30px;
  }
}

@media (max-width: 450px) {

  .success-div {
    padding: 20px;
  }

  .success-msg p {
    font-size: 23px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
  }

  .sidebar, article {
    width: 100%;
    margin-inline: auto;
    padding: 20px;
  }
}

/**
 * responsive larger than 450px screen
 */

@media (min-width: 450px) {
  /**
   * client
   */

  .clients-item { min-width: calc(33.33% - 10px); }

  .wrap {
    display: flex;
    flex-direction: column;
  }

  .sidebar, article {
    width: 100%;
    margin-inline: auto;
    padding: 20px;
  }

  /**
   * #PORTFOLIO, BLOG 
   */

  .project-img { height: auto; }

}


/**
 * responsive larger than 580px screen
 */

@media (min-width: 580px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;

  }


  /**
   * #REUSED STYLE
   */

  .sidebar, article {
    width: 100%;
    margin-inline: auto;
  }

  .article-title {
    font-weight: var(--fw-600);
    padding-bottom: 15px;
  }

  .article-title::after {
    width: 40px;
    height: 5px;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    font-size: 18px;
  }


  /**
   * #MAIN
   */

  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
  }


  /**
   * #SIDEBAR
   */

  .sidebar {
    max-height: 180px;
    margin-bottom: 30px;
  }

  .sidebar.active { max-height: 100%; }

  .sidebar-info { gap: 25px; }

  .avatar-box { border-radius: 10px; }

  .avatar-box img { width: 120px; }

  .info-content .name { margin-bottom: 15px; }

  .info-content .title { padding: 5px 18px; }

  .info_more-btn {
    top: -30px;
    right: -30px;
    padding: 15px 15px;
  }

  .info_more-btn span {
    display: block;
    font-size: var(--fs-8);
  }

  .info_more-btn ion-icon { display: none; }

  .separator { margin: 32px 0; }

  .contacts-list { gap: 20px; }

  .contact-info {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }


  /**
   * #NAVBAR
   */

  .navbar-list { gap: 20px; }

  .navbar-link { --fs-8: 14px; }


  /**
   * #ABOUT
   */

  .about .article-title { margin-bottom: 20px; }

  .about-text { 
    margin-bottom: 40px; 
  }

  /* service */

  .service-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }

  .service-icon-box {
    margin-bottom: 0;
    margin-top: 5px;
    padding: 10px;
    background: var(--eerie-black-1);
    border: 1px solid #ff000057;
  }

  .service-content-box { text-align: left; }

  /* testimonials */

  .testimonials-title { margin-bottom: 25px; }

  .testimonials-list {
    gap: 30px;
    margin: 0 -30px;
    padding: 30px;
    padding-bottom: 35px;
  }

  .content-card {
    padding: 30px;
    padding-top: 25px;
  }

  .testimonials-avatar-box {
    transform: translate(30px, -30px);
    border-radius: 10px;
  }

  .testimonials-avatar-box img { width: 80px; }

  .testimonials-item-title {
    margin-bottom: 10px;
    margin-left: 95px;
  }

  .testimonials-text {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  /* testimonials modal */

  .modal-container { padding: 20px; }

  .testimonials-modal {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
    padding: 30px;
    border-radius: 10px;
  }

  .modal-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-avatar-box {
    border-radius: 10px;
    margin-bottom: 0;
  }

  .modal-avatar-box img { width: 65px; }

  .modal-img-wrapper > img {
    display: block;
    flex-grow: 1;
    width: 35px;
  }

  /* clients */

  .clients-list {
    gap: 50px;
    margin: 0 -30px;
    padding: 45px;
    scroll-padding-inline: 45px;
  }

  .clients-item { min-width: calc(33.33% - 35px); }


  /**
   * #RESUME
   */

  .timeline-list { margin-left: 65px; }

  .timeline-item:not(:last-child)::before { left: -40px; }

  .timeline-item::after {
    height: 8px;
    width: 8px;
    left: -43px;
  }

  .skills-item:not(:last-child) { margin-bottom: 25px; }


  /**
   * #PORTFOLIO, BLOG
   */

  .project-img { border-radius: 10px; }


  /**
   * #CONTACT
   */

  .mapbox {
    height: 380px;
    border-radius: 10px;
  }

  .input-wrapper {
    gap: 30px;
    margin-bottom: 30px;
  }

  .form-input { padding: 15px 20px; }

  textarea.form-input { margin-bottom: 30px; }

  .form-btn {
    --fs-6: 16px;
    padding: 16px 20px;
  }

  .form-btn ion-icon { font-size: 18px; }

}


/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .sidebar, article {
    width: 100%;
  }

  .has-scrollbar::-webkit-scrollbar-button { width: 100px; }


  /**
   * SIDEBAR
   */

  .contacts-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
  }


  /**
   * NAVBAR
   */

  .navbar-link { --fs-8: 15px; }


  /**
   * ABOUT
   */

  /* testimonials modal */

  .testimonials-modal {
    gap: 35px;
    max-width: 680px;
  }

  .modal-avatar-box img { width: 80px; }

  /**
   * RESUME
   */

  .list-style {
    margin-left: 60px;
  }

  /**
   * PORTFOLIO
   */

  .article-title { padding-bottom: 20px; }

  .filter-select-box { display: none; }

  .filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .filter-item button {
    color: var(--light-gray);
    font-size: var(--fs-5);
    transition: var(--transition-1);
  }

  .filter-item button:hover { 
    color: var(--light-gray);
    background-color: rgba(0, 0, 0, 0.336);
    padding: 10px;
    border-radius: 10px;
  }

  .filter-item button.active { 
    color: #FF0000;
  }

  /* portfolio */

  .project-list { grid-template-columns: 1fr 1fr; }


  /**
   * CONTACT
   */

  .input-wrapper { grid-template-columns: 1fr 1fr; }

  .form-btn {
    width: max-content;
    margin-left: auto;
  }
  
}


@media (min-width: 912px) {
  .sidebar, article {
    width: 100%;
  }
  
  .wrap {
    display: flex;
    flex-direction: column;
  }
}


/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
    * shadow
    */

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);

  }

  .slider-wrap {
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
  }

  /**
   * REUSED STYLE
   */

  .sidebar, article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }


  /**
   * MAIN 
   */

  main { margin-bottom: 60px; }

  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }

  .success-page {
    min-width: 90%;
  }

  .wrap {
    display: flex;
    flex-direction: column;
  }

  /**
   * NAVBAR
   */

  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    padding: 0 20px;
    box-shadow: none;
  }

  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }

  .navbar-link { 
    font-weight: var(--fw-500); 
  }

  .navbar-link:hover { 
    color: var(--light-gray);
    background-color: rgba(0, 0, 0, 0.336);
    padding: 10px;
    border-radius: 10px;
  }


  /**
   * ABOUT
   */

  /* service */

  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }

  /* testimonials */

  .testimonials-item { min-width: calc(50% - 15px); }

  /* clients */

  .clients-item { min-width: calc(25% - 38px); }


  /**
   * PORTFOLIO
   */

  .project-list { grid-template-columns: repeat(2, 1fr); }

}
/**
 * responsive larger than 1250px screen
 */

@media (min-width: 1250px) {

  /**
   * RESET
   */

  body::-webkit-scrollbar { width: 15px; }

  body::-webkit-scrollbar-track { background: var(--smoky-black); }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: #ff00007e;
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover { background: #ff0000de; }

  body::-webkit-scrollbar-button { 
    height: 100%; 
  }


  /**
   * REUSED STYLE
   */

  .sidebar, article { width: auto; }

  article { 
    min-height: 100%; 
    padding: 50px;
  }

  .navbar {
    padding: 40px;
  }


  /**
   * MAIN
   */

  .main-content {
    min-width: 60%;
    width: 60%;
  }

  .wrap {
    display: flex;
    flex-direction: row;
  }

  /**
   * SIDEBAR
   */

  .sidebar {
    position: sticky;
    top: 60px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebar-info { flex-direction: column; }

  .avatar-box img { width: 150px; }

  .info-content .name {
    white-space: nowrap;
    text-align: center;
  }

  .info-content .title { margin: auto; }

  .info_more-btn { display: none; }

  .sidebar-info_more {
    opacity: 1;
    visibility: visible;
  }

  .contacts-list { grid-template-columns: 1fr; }

  .contact-info :is(.contact-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-info :is(.contact-link, time, address) {
    --fs-7: 14px;
    font-weight: var(--fw-300);
  }

  .separator:last-of-type {
    margin: 15px 0;
    opacity: 0;
  }

  .social-list { justify-content: center; }


  /**
	 * RESUME
	 */

  .timeline-text { max-width: 700px; }

}
