/* #REUSED STYLE */

.sidebar,
article {
  background: rgba(169, 169, 169, 0.137);
  border: 1px solid var(--jet);
  border-radius: 10px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

article {
  border-radius: 25px 50px / 50px;
}

.separator {
  width: 100%;
  height: 1px;
  background: black;
  margin: 16px 0;
}

.separator2 {
  width: 60px;
  height: auto;
  background: rgba(169, 169, 169, 0.137);
  border-radius: 100px 50px / 50px;}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #FF0000;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: 5px;
  z-index: -1;
}

.icon-box ion-icon { --ionicon-stroke-width: 35px; }

article { display: none; }

article.active {
  display: block;
  animation: fade linear;
  animation-timeline: view();
  animation-range: exit 30% cover 50%;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { 
  font-size: var(--fs-2);
}

.h4 { 
  font-size: var(--fs-4); 
}

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.article-title {
  position: relative;
  padding-bottom: 7px;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: #FF0000;
  border-radius: 3px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 15px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.514);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: #ff0000af;
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 20px; }

.content-card {
  position: relative;
  background: rgba(0, 0, 0, 0.514);
  backdrop-filter: blur(10px);
  padding: 15px;
  padding-top: 45px;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

/* #MAIN */

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
