@import './variables.css';
@import './reset.css';
@import './shared.css';

/* Components */
@import './components/sidebar.css';
@import './components/navbar.css';
@import './components/about.css';
@import './components/service.css';
@import './components/skills.css';
@import './components/testimonials.css';
@import './components/clients.css';
@import './components/resume.css';
@import './components/portfolio.css';
@import './components/contact.css';
@import './components/success.css';
@import './components/overlay.css';

/* Responsive Layout */
@import './responsive.css';
